<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	
	<ui:define name="content">
	 
	 <h:head>
<title>Home Page</title>

</h:head>
<h:body>
<h:panelGrid id="panel" columns="2" border="1" cellpadding="10" cellspacing="1">
	 
	 <f:facet name="header">
<h:outputText value="User Interaction" />
</f:facet>
<h:outputLabel value="Already a user" />
<h:outputLink value="login.xhtml">Sign In</h:outputLink>
<h:outputLabel value="Not a member yet" />
<h:outputLink value="register.xhtml">Sign Up</h:outputLink>
<f:facet name="footer">
<h:panelGroup style="display:block; text‐align:center">
<h:outputLabel value="Created Marchy" />
</h:panelGroup>
</f:facet>
</h:panelGrid>
</h:body>
	  
	</ui:define>
	
</ui:composition>
</html>
