<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
<title>Home</title>
<style >
.backImage{background-image: url("resources/images/background.jpg");
background-position: center;
}

 #formdiv {
            margin: 0 auto;
        }
</style>
</h:head>

<h:body styleClass="backImage" >

<div id="formdiv">    
        <h:form>
	
<h:graphicImage value="resources/images/login.jpg" id ="home"></h:graphicImage>

	<h:panelGrid columns="2">
	
	<h:outputText value ="Name"></h:outputText>
	<h:inputText value ="#{LoginBean.name}"></h:inputText>
	<h:outputText value ="Password"></h:outputText>
	<h:inputText value ="#{LoginBean.password}"></h:inputText>
	
		
	</h:panelGrid>
	<h:commandButton value ="Login" action="login"></h:commandButton>
	
	
	</h:form>
	</div>




</h:body>



</html>
