<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">

	
	<ui:define name="content" align ="center">
	<h:graphicImage value="resources/images/home.jpg" id ="home"></h:graphicImage>
	<h:form>
	<h:panelGrid columns="2">
	
	<h:outputText value ="Enter Email"></h:outputText>
	<h:inputText value ="#{userData.emailAddress}" required="true" requiredMessage="Email field must not be empty"></h:inputText>
	<h:outputText value ="Enter Password" ></h:outputText>
	<h:inputSecret value ="#{userData.password}" required="true" requiredMessage="Password field must not be empty"></h:inputSecret>
	
		
	</h:panelGrid>
	<h:commandButton value ="Login" action="#{userData.login}"></h:commandButton>
	
	
	</h:form>
	
	 <h:outputLink value="home.xhtml">Home</h:outputLink>
	</ui:define>
	
</ui:composition>
</html>
