<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	<meta charset="utf-8" />
	<ui:define name="content">
	  <h:graphicImage value="resources/images/register.jpg" id ="reg"></h:graphicImage>
	<h:form>
	<h:panelGrid columns="2">
	
	<h:outputText value ="Name"></h:outputText>
	<h:inputText value ="#{userData.name}"></h:inputText>
	<h:outputText value ="Surname"></h:outputText>
	<h:inputText value ="#{userData.surname}"></h:inputText>
	
		
		<h:outputText value ="Date of birth"></h:outputText>
	<h:inputText value ="#{userData.dateOfBirth}"></h:inputText>
	<h:outputText value ="Gender"></h:outputText>
	 <h:selectOneMenu value="#{userData.gender}">
            <f:selectItem itemValue="Female" itemLabel="Female" />
            <f:selectItem itemValue="Male" itemLabel="Male" />
            				
         </h:selectOneMenu>	
	
	<h:outputText value ="ID Number"></h:outputText>
	<h:inputText value ="#{userData.idNumber}"></h:inputText>
	<h:outputText value ="Age"></h:outputText>
	<h:inputText value ="#{userData.age}"></h:inputText>
	
	<h:outputText value ="Email address"></h:outputText>
	<h:inputText value ="#{userData.emailAddress}"></h:inputText>
	<h:outputText value ="Cell Number"></h:outputText>
	<h:inputText value ="#{userData.cellNumber}"></h:inputText>
	
	<h:outputText value ="Race"></h:outputText>
	 <h:selectOneMenu value="#{userData.race}">
            <f:selectItem itemValue="Black" itemLabel="Black" />
            <f:selectItem itemValue="Coloured" itemLabel="Coloured" />
            <f:selectItem itemValue="Indian" itemLabel="Indian" />
            <f:selectItem itemValue="White" itemLabel="White" />
            
            				
         </h:selectOneMenu>	
	
	
	<h:outputText value ="Password"></h:outputText>
	<h:inputSecret value ="#{userData.password}"></h:inputSecret>
	<h:outputText value ="Confirm Password"></h:outputText>
	<h:inputSecret value ="#{userData.password2}"></h:inputSecret>
		
		
	</h:panelGrid>
	<h:commandButton value ="Register" action="#{userData.add}"></h:commandButton>
	  
	 
	  
	  </h:form>
	  <h:outputLink value="home.xhtml">Home</h:outputLink>
	</ui:define>
	
</ui:composition>
</html>
