<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	
	<ui:define name="content">
	    
	    <h:head>
<title>Success Page</title>
</h:head>
<h:body>
<f:view>
<p>Successfully logged in</p>
<p>Hi, #{userData.name}</p>
<h:form>
<p>
<h:commandLink value="logout" action="#{userData.logout}" />
</p>
</h:form>
</f:view>
</h:body>
	    
	    
	</ui:define>
	
</ui:composition>
</html>
