<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
  <title><ui:insert name="title">Tenant Managment System</ui:insert></title>
  <link rel="stylesheet" media ="screen" href="css/styles.css" type ="text/css"/>
  
</head>

<body>
<div id="header">
	<ui:insert name ="header">
		<ui:include src="header.xhtml"/>
		
	</ui:insert></div>



<div id="content">
  <ui:insert name="content">
    	
  </ui:insert>
</div>

<div id="footer">
 	 <ui:insert name="footer">
    	<ui:include src="footer.xhtml"/>
 	 </ui:insert>
</div>

</body>

</html>
